<div class="skeleton-form">
  <div class="skeleton-row">
    <div class="skeleton-field"></div>
    <div class="skeleton-field"></div>
  </div>
  <div class="skeleton-row">
    <div class="skeleton-field"></div>
    <div class="skeleton-field"></div>
  </div>
  <div class="skeleton-row">
    <div class="skeleton-field"></div>
    <div class="skeleton-field"></div>
  </div>
  <div class="skeleton-buttons">
    <div class="skeleton-button"></div>
    <div class="skeleton-button"></div>
    <div class="skeleton-button"></div>
  </div>
</div>
